<div>

    <h1><input type="text" ng-model="tableName"></h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Row</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Company</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users">
                <td>{{$index}}</td>
                <td>{{user.name}}</td>
                <td>{{user.gender}}</td>
                <td>
                    <input type="text" ng-model="user.company">
                </td>
            </tr>
        </tbody>
    </table>

</div>
