<form class="form-horizontal" name="registerForm" ng-controller="registerCtrl" novalidate>
    <div class="form-group">
        <label for="inputEmail" class="control-label col-xs-2">First Name</label>
        <div class="col-xs-4">

            <input type="text" class="form-control" placeholder="First Name" name="firstName" ng-model="user.firstName" required ng-minlength="4">

            <span ng-show="registerForm.firstName.$error.required &&registerForm.firstName.$dirty">First Name Required</span>
            <span ng-show="registerForm.firstName.$error.minlength &&registerForm.firstName.$dirty">First Name should be minimum of 4 characters</span>



        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail" class="control-label col-xs-2">Last Name</label>


        <div class="col-xs-4">
            <input type="text" class="form-control" placeholder="Last Name" ng-model="user.lastName">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2">Gender</label>

        <div class="col-xs-4">
            <input type="radio" name="gender" value="M" ng-model="user.gender">M
            <input type="radio" name="gender" ng-model="user.gender" value="F">F
            <input type="radio" ng-model="user.gender" name="gender" value="N/A">Don't reveal
        </div>
    </div>

    <div class="form-group">
        <label for="inputEmail" class="control-label col-xs-2">Country</label>
        <div class="col-xs-4">
            <select class="form-control" ng-model="selectedCountry" ng-options="item.name for item in countries">
                <option value="">Please Select</option>
            </select>{{selectedCountry}}
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail" class="control-label col-xs-2">States</label>
        <div class="col-xs-4">
            <select class="form-control">
                <option value="">Please Select</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="user.terms"> Agree Terms and Conditions</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-offset-2 col-xs-4">
            <button ng-click="registerUser()" ng-disabled="!user.terms" class="btn btn-primary">Register</button>
        </div>
    </div>
</form>
